/* reset margin, padding  */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 100vh;
  width: 100%;
  background: url(./banner.jpg) center center no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-sign-in .about, .banner .about-sign-in .sign-in {
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: brown;
}
.banner .about-sign-in .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid #69692b;
}
.banner .option {
  height: 80px;
  width: 100%;
  text-align: left;
}
.banner .content-center {
  height: 50px;
  border: 1px solid red;
}
.banner .logo {
  background: url("./logo.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
}
.banner .text .text span {
  color: green;
  font-size: 40px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now .button {
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #69692b;
  margin-top: 25px;
  cursor: pointer;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
} */
.span {
  display: block;
  font-size: 20px;
}
